*{
	margin: 0;
	padding: 0;
	font-size: 12px;
}/*去除默认属性*/

body{
	background: #F0F0F0;
}

.top{
	width: 100%;
	height: 30px;
	background:url("../img/top_bg.jpg") repeat-x; 
}

.top_content{
	width:1000px;
	margin: 0 auto;
}

.top_content li{
	list-style-image: url("../img/li_bg.gif");
	float: right;
	margin: 10px;
}

.warp{
	width:1000px;
	margin: 0 auto;
	background-color: #FFF;
}

.logo{
	height: 80px;
	background-color: #FFF;
}

.logo_left{
	width: 500px;
	height: 80px;
	float: left;
}

.logo_right{
	width: 300px;
	float: right;
	margin-top: 30px;
	height: 28px;
	color: #E8E8E8;
}

.logo_right img{
	margin-right: 10px;
	vertical-align: middle;

}

.tel{
	color: #F00;
	font-size: 16px;
}

.nav{
	height: 40px;
	clear: both;
}

.nav_left{
	width: 10px;
	background: url("../img/nav_left.jpg") no-repeat;
	height: 40px;
	float: left;
}

.nav_mid{
	width: 980px;
	height: 40px;
	background: url("../img/nav_bg.jpg") repeat-x;
	float: left;
}

.nav_right{
	width: 10px;
	background: url("../img/nav_right.jpg") repeat-x;
	float: left;
	height: 40px;
}
.nav_mid_left ul{
	list-style-type: none;
}
.nav_mid_left ul li{
	height: 40px;
	line-height: 40px;
	float: left;
	margin-right: 30px;

}

.nav_mid_right {
	height: 40px;
	line-height: 40px;
	float: right;
	margin-right: 30px;
}

input,.nav_mid_right img{
	vertical-align: middle;
	
}
input{
	margin-right: -30px;
}

.nav_mid_left a:link,.nav_mid_left a:visited{
	color: #c00;
	font-size: 16px;
	font-family: "宋体"；
}

.ad{
	height: 310px;
	overflow: hidden;
}

.main{
	height: 310px;
	margin-top: 5px;
}

.news,.course,.slidbar{
	height: 310px;
}
.news{
	width: 340px;
	border: 1px solid #E8E8E8;
	float: left;
}

.course{
	width: 410px;
	border: 1px solid #E8E8E8;
	margin: 0 7px;
	float: left;
}

.slidbar{
	width: 229px;
	border: 1px solid #E8E8E8;
	float: left;
}

.title{
	height: 37px;
	border-bottom: 1px solid #E8E8E8;
}

.title_left{
	width: 70%;
	font-family: "宋体"；
	font-size: 16px;
	font-weight: bold;
	float: left;
	padding-left: 10px;
	line-height: 37px;
}

.title_right{
	width: 20%;
	float: right;
	line-height: 37px;
	text-align: right;
}

.title_right a{
	text-decoration: none;
	color: #999999;
}

.news_pic{
	line-height: 22px;
	height: 80px;
}

.news_pic img,.course_pic img{
	margin: 5px;
	float: left;
}

.news_pic a{
	color: #c00;
	text-decoration: none;
}

.news_list{
	margin-top: 30px;
}

.news_list li{
	list-style-type: none;
	background: url("../img/list.jpg") no-repeat;
	padding-left: 10px;
	border: 1px dotted #E8E8E8;
}

.news_list a:link,.news_list a:visited{
	text-decoration: none;
	color: #000;
}

.news_list a:hover,.new_list a:active{
	text-decoration: none;
	color: #F00;
}

.news_list span{
	color: #999;
	float: right;
}

.course_pic{
	height: 120px;
	line-height: 22px;
}
.course_type{
	background: url("../img/product_type_bg.jpg") no-repeat;
	height: 37px;
	width: 372px;
	margin: 20px auto;
}

.course_type li{
	list-style-type: none;
	margin: 0 15px;
	float: left;
	line-height: 37px;
	text-align: center;
}

.video{
	height: 185px;
	border: 1px solid #E8E8E8
}

.video_content{
	height: 150px;
	margin-top: 5px;
}

.sildebar_ad{
	height: 55px;
	border: 1px solid #E8E8E8
	margin-top: 5px;
}

.copyright{
	width: 100%;
	height: 200px;
	background-color: #E8E8E8;
	margin-top: 5px;
	clear: both;
}

.copyright_content{
	margin: 0 auto;
	width: 1000px;
}

.copyright_content li{
	width: 200px;
	list-style-type: none;
	float: left;
	background: url("../img/line.png") no-repeat right center;
	text-align: center;
	line-height: 30px;
}

.copyright_content a{
	text-decoration: none;
}